.container {
  width: 100%;
  display: table;
  margin-top: 50px;
  justify-content: center;
  overflow-x: scroll;
}

.wrapper {
  width: 425px;
  border: 1px solid red;
  color: var(--primary);
  margin: 0 auto;
  padding: 0 16px;
}