:root {
  --primary: #ffcc66;
  --secondary: #99521f;
  --tertiary: #028f44;

  --gray0: #fff;
  --gray100: #f0f0f5;
  --gray200: #e8e8ee;
  --gray300: #e1e1e8;
  --gray400: #cdced6;
  --gray500: #a9abb8;
  --gray600: #858899;
  --gray700: #525463;
  --gray800: #3e404c;
  --gray900: #2b2d36;
  --gray1000: #000;
}
